<div class="form-group">
    <label class="col-sm-2 control-label">{{record.Label}}</label>
    <div class="col-sm-10">
    	<div class="col-sm-8 no-padding">
    		{{input value=record.Value placeholder=record.Label class="form-control" type="text"}}
    	</div>
    	<div class="col-sm-1"><br/></div>
    	<div class="col-sm-3 no-padding">
	    	<button class="btn btn-primary btn-sm" role="button" {{action 'newpass' record}} >
	    		<span class="glyphicon glyphicon-qrcode"></span>
	    		Auto-Generate
	    	</button>
    	</div>
    </div>
</div>