
<div class="form-group">
    <label class="col-sm-2 control-label">{{record.Label}}</label>
    <div class="col-sm-10">
		<select onchange={{action 'simplechoose' record}}>
    		<option value="-1">Select an option</option>
    		{{#each this.record._field_cfg.Data key="@index" as |cat index|}}
    		<option value={{cat.value}}>
				{{cat.display}}
			</option>
			{{/each}}
		</select>
    </div>
</div>