<form method="get" class="form-horizontal">
    {{#each this.model key="@index" as |record index|}}
    	{{#unless record.Edit}}
        	{{crud-edit-cell record=record parent=this.model}}
        	<div class="hr-line-dashed"></div>
        {{/unless}}
    {{/each}}
</form>