<form method="get" class="form-horizontal">
    {{#each currentRecord key="@index" as |record index|}}
    	{{#unless record.Edit}}
        	{{crud-edit-cell record=record parent=currentRecord}}
        	<div class="hr-line-dashed"></div>
        {{/unless}}
    {{/each}}
</form>
