<form method="get" class="form-horizontal">
    {{#each record in this.model}}
    	{{#unless record.ReadOnly}}
        	{{crud-edit-cell record=record}}
        	<div class="hr-line-dashed"></div>
        {{else}}
        	{{record.ReadOnly}}
        	{{record}}
        {{/unless}}
    {{/each}}
</form>
